.tintuc{
    background-color: #F6F9FA;
    padding: 64px 0px;
    text-align: center;
    width: 100%;
}
.tintuc>p{
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: black;
    margin: 0px;
}
.titleUnder{
    background-color: rgba(39, 79, 117, 0.205);
    height: 4px;
    width: 64px;
    margin: 0px auto;
    margin-top: 12px;
}

@media screen and (max-width: 768px){
    .tintuc>p{
        font-size: 22px;
    }
}
.button{
    display: inline-block;
    border-radius: 3px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    width: 11rem;
    background: transparent;
    color: white;
    border: 2px solid white;

}