.vbcc-container {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.vbcc-verified {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.25rem;
	color: #24A148;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.75rem;
	text-align: center;
}

.vbcc-info-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.03;
        pointer-events: none;
    }
}

.vbcc-info-title {
    font-size: 1.15rem;
    font-weight: bold;
    color: #051A53;
    margin-bottom: 16px;
}

.vbcc-custom-descriptions {
    .ant-descriptions-view {
        border-radius: 6px;
    }
    .ant-descriptions-item-label {
		font-size: 17px;
        font-weight: 600;
        background-color: #f8f8f8 !important;
        color: #051A53;
        width: 25%;
    }
    .ant-descriptions-item-content {
		font-size: 17px;
        color: #051A53;
    }
}

.vbcc-info-card {
	.ant-table-thead > tr > th,
	.ant-table-tbody > tr > td {
		font-size: 17px;
	}
}

.vbcc-signature {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
	padding-top: 1.25rem;
	padding-bottom: 0.75rem;
}

.vbcc-urlIpfs {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.box-wrapper {
	max-width: 1200px;
	margin: 20px auto;
	color: #333;

	.container {
		padding-bottom: 40px;

		.header {
			display: flex;
			align-items: center;

			.logo {
				width: 60px;
				margin-right: 15px;
			}

			.title {
				color: var(--primary-color);
				font-weight: bold;
				font-size: 1.5rem;
			}
		}

		.contact-info {
			display: flex;
			gap: 40px;
			margin: 20px 0;

			.contact-item {
				display: flex;
				align-items: center;
				font-size: 1rem;

				.icon {
					margin-right: 10px;
				}

				.link {
					color: var(--primary-color);
					text-decoration: none;
				}
			}
		}

		.address {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			margin: 20px 0;

			.address-title {
				font-weight: bold;
			}
		}

		.map-wrapper {
			margin: 20px auto;
			text-align: center;

			iframe {
				border-radius: 8px;
			}
		}

		.footer {
			color: var(--primary-color);
			font-size: 0.9rem;
			text-align: center;
		}
	}
}

@media (max-width: 768px) {
	.footer-logo-container {
		justify-content: center;
		text-align: center;
	}

	.footer-map {
		height: 200px;
	}
}
